.menu-button {
	-fx-background-color: #f5f5f0;
	-fx-background-radius: 10;	
}

.menu-button:hover {
    -fx-background-color: #e7e9ed;
    -fx-cursor: hand;
}

.menu-button:focused {
	-fx-background-color: #cce5ff;
}

.add-button {
	-fx-background-color: #378feb;
	-fx-background-radius: 10;
}

.add-button:hover {
	-fx-background-color: #216dbd;
	-fx-cursor: hand;
}

.add-button:pressed {
	-fx-background-color: #216dbd;
}

.add-button:focused {
	-fx-background-color: #216dbd;
}

.calendar-date {
	-fx-background-color: #ffffff;
	-fx-background-radius: 10;
}

.calendar-date:hover {
	-fx-background-color: #e7e9ed;
    -fx-cursor: hand;
}

.delete-button {
	
    -fx-background-color: #ff3131;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-cursor: hand;
}

.delete-button:hover {
    -fx-background-color: #dc143c;
}

.delete-button .text {
    -fx-fill: black;
}