.table-view {
    -fx-border-color: #d3d3d3;
    -fx-background-color: #f5f5f0;
    -fx-padding: 0;
}

.table-row-cell {
    -fx-cell-size: 30px;
    -fx-background-color: #f5f5f0;
}

/* === Header Styling === */
.table-view .column-header-background {
    -fx-background-color: #d3d3d3;
}

.todo-table .column-header-background {
    -fx-pref-height: 30px;
}

.table-view .column-header,
.table-view .column-header .label {
    -fx-background-color: transparent;
    -fx-font-weight: bold;
}

.todo-table .column-header {
    -fx-background-color: #f5f5f5;
}

.todo-table .column-header.sorted {
    -fx-background-color: #d0eaff;
    -fx-text-fill: #000000;
}

.todo-table .column-header.task-header .label {
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
}

/* === Cell Styling === */
.table-cell {
    -fx-border-color: #d3d3d3;
}

/* === Scrollbar Styling === */
.table-view .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

.table-view .scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

.todo-table .table-cell {
    -fx-font-size: 11px;
    -fx-alignment: CENTER-LEFT;
}